ARK_API_KEY=
ARK_GENERATION_TASK_URL=https://ark.cn-beijing.volces.com/api/v3/contents/generations/tasks
ARK_SEEDANCE_MODEL=doubao-seedance-1-5-pro-251215

DOUBAO_CUTOUT_API_URL=
DOUBAO_CUTOUT_API_KEY=

RIGHT_CODE_API_KEY=
RIGHT_CODE_BASE_URL=https://www.right.codes/draw
RIGHT_CODE_IMAGE_MODEL=gpt-image-2

BLOB_READ_WRITE_TOKEN=
